:root {
    --background: #1A1A1A;
    --middleground: #262926;
    --foreground: #303531;
    --white: #FCFCFC;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    font-family: 'Victor Mono', 'Noto Sans KR', monospace;
    color: var(--white);
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    clear: both;
}

nav {
    width: 100vh;
    align-items: left;
    /*border: solid var(--white);*/
    padding-right: 850px;
}

.blog_title {
    float: right;
    width: 50vh;
    align-self: right;
    justify-content: right;
    padding: 20px;
    /*border: solid var(--white);*/
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    float: left;
}

.navigation {
    overflow: visible;
}

.navigation li a {
    display: inline-block;
    color: var(--white);
    padding: 20px;
    text-decoration: none;
    /*edit later with font size 20px*/
    padding-left: 10px;
    font-size: 15px;
}

.navigation li a:hover {
    color: var(--foreground);
}

main {
    width: 100rem;
    display: flex;
    flex-direction: row;
    /*background-color: var(--middleground);*/
    justify-content: space-between;
}

section, aside {
    height: 200px;
    padding: 20px;
    justify-content: center;
}

.contents_summary {
    list-style: circle;
}

.contents_summary {
    padding-left: 15px;
}

section { 
    width: 910px;
    height: 60vh;
    margin-left: 20rem;
    display: inline-block;
    /*border: solid var(--foreground);*/
}

aside {
    display: inline-block;
    height: 60vh;
    width: 200px;
    color: var(--foreground);
    /*border: solid var(--foreground);*/
}

aside a {
    text-decoration: none;
}

aside a:visited {
    text-decoration: none;
    color: var(--foreground);
}

aside a:hover {
    color: var(--white);
}