:root {
    --background: #1A1A1A;
    --middleground: #262926;
    --foreground: #303531;
    --white: #FCFCFC;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Victor Mono', 'Noto Sans KR', 'monospace';
    font-size: 18px;
    background-color: var(--background);
    color: var(--white);
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 20px;
    clear: both;
}

nav {
    width: 100vh;
    align-items: left;
    /*border: solid var(--white);*/
    padding-right: 850px;
}

.blog_title {
    float: right;
    width: 50vh;
    align-self: right;
    justify-content: right;
    padding: 20px;
    /*border: solid var(--white);*/
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    float: left;
}

.navigation {
    overflow: visible;
}

.navigation li a {
    display: inline-block;
    color: var(--white);
    padding: 20px;
    text-decoration: none;
    /*edit later with font size 20px*/
    padding-left: 10px;
    font-size: 15px;
}

.navigation li a:hover {
    color: var(--foreground);
}

main {
    width: 100rem;
    display: flex;
    flex-direction: column;
    /*background-color: var(--middleground);*/
    /*justify-content: space-between;*/
}

#main_bg_img {
    position: absolute;
    z-index: -1;
    vertical-align: middle;
    width: 1600px;
    height: 900px;
    /*height: 530px;*/
    /*crop image via clip-path() function*/
    clip-path: inset(0px 0px 370px 0px);
    opacity: 0.60;
}

main .white_space {
    margin-top: 150px;
}

main .codeline_icon {
    /*color: rgb(0, 255, 72);*/
    color: #758D4B;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 800;
    /*margin-top: 330px;*/
    margin-left: 50px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    display: flex;
    width: 100%;
    height: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    /*border: solid var(--middleground);*/
}