:root {
    --background: #1A1A1A;
    --middleground: #262926;
    --foreground: #303531;
    --white: #FCFCFC;
}

body {
    background-color: var(--background);
    color: var(--white);
    justify-content: center;
    align-items: center;
}

form {
    display: inline-block;
}

